body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

.favButton:hover {
  background-color: rgba(173, 216, 230, 0.8);
}

h1 {
  text-align: center;
}

nav {
  background-color: rgba(211, 211, 211);
  justify-content: space-between;
  padding: 0.5rem;
}

nav, nav div {
  display: flex;
}

nav button {
  background-color: #000;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  height: 37px;
  width: 37px;
}

nav div {
  align-items: center;
  justify-content: space-around;
  margin-right: 55px;
  width: 30%;
}

nav h2 {
  margin-left: 99px;
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover {
  color: rgb(136, 136, 136);
} 

footer {
  background-color: rgba(139, 94, 92);
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  margin-top: 30px;
}

footer > p {
  margin: 0;
  padding-top: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid {
  
  justify-content: center;
  gap: 1rem;
  width: 150vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto 120px auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}