/* Estilos globales */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Tema light */
.light {
  background-color: #f9f9f9;
  color: #333;
}

.light nav {
  background-color: #333;
  color: #fff;
}

.light footer {
  background-color: #333;
  color: #fff;
}

/* Tema dark */
.dark {
  background-color: #333;
  color: #fff;
}

.dark nav {
  background-color: #444;
  color: #fff;
}

.dark footer {
  background-color: #444;
  color: #fff;
}

/* Theme switcher styles */

.theme-switch {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.switch-label::before {
  content: var(--switch-icon);
  font-size: 40px;
  transition: text-shadow .2s;
}

.switch-label::after {
  content: var(--switch-text);
  color: var(--switch-shadow-color);
}

.theme-switch:focus ~ #page .switch-label::before,
.switch-label:hover::before {
  text-shadow: 0 0 15px var(--switch-shadow-color);
}

:root {
  /* Light mode */
  --light-switch-shadow: #373d4e;
  --light-switch-icon: "🌚";
  --light-switch-text: "dark mode?";
  
  /* Dark mode */
  --dark-switch-shadow: #fce477;
  --dark-switch-icon: "🌝";
  --dark-switch-text: "light mode?";
  
  /* Default mode */
  --switch-shadow-color: var(--light-switch-shadow);
  --switch-icon: var(--light-switch-icon);
  --switch-text: var(--light-switch-text);
}

.theme-switch:checked ~ #page {
  --switch-shadow-color: var(--dark-switch-shadow);
  --switch-icon: var(--dark-switch-icon);
  --switch-text: var(--dark-switch-text);
}